{% extends 'base.html' %}

{% block content %}
<h2>Case Chat</h2>

<h3>{{ help_request.title }}</h3>

<div>
    {% for msg in messages %}
        <p>
            <strong>{{ msg.sender.username }}:</strong>
            {{ msg.get_decoded_message }}
        </p>
    {% empty %}
        <p>No messages yet.</p>
    {% endfor %}
</div>

<form method="post">
    {% csrf_token %}
    <textarea name="content" required></textarea>
    <br>
    <button type="submit">Send</button>
</form>
<a href="{% url 'dashboard' %}">Back</a>
{% endblock %}
